html, body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: hidden;
}

body {

}

.container {
  width: 100% !important;
  max-width: 1920px !important;

  .row {
    h3 {
      margin-left: 20px;
    }
  }

}

#logger {
  max-height: 600px;
  overflow-y: scroll;
}